/*
 * Base structure
 */
 
html, body {
    font-family: 'Avenir', sans-serif;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-top: 0px;
  /*overflow: hidden;*/
}

h1, h2, h3, h4, h5, h6, p{
    /*word-spacing: .8px;*/
    color: #636D72;
}

p {
    font-size: 14px;
}

/*
 * Global add-ons
 */
 
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-container {
    margin-left: 135px;
    margin-right: 135px;
}

.navbar-custom {
    padding: 20px 0;
    color: #BCBCBC;
    border-bottom: 0;
    letter-spacing: 2px;
    background: 0 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background: #222;
    opacity: 0.9;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-container  {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .navbar-container  {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/*
 * Main content
 */

.main {
  padding: 0px;
  width:100%;
}

.main .page-header {
  margin-top: 0;
}

.full {
  height:100vh;
}

.background {
    background: url('../js/images/bc-map.png') top center/cover no-repeat;
}

/*@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}*/

/*
 * Cover 
 */
#cover {
    color: #ECECEC;
    font-family: inherit;
    position: absolute;
    z-index: 5;  
}

#cover{
    background:#121212;
    position: relative;
    width : 100%;
    height : 100%;
    opacity: .7;
    padding-left: 25px;
    padding-right: 25px;  

    display: flex;
    justify-content: center;
    align-items: center;
}

#cover > div {
    text-align: center;
}

#cover > div h1 {
    padding-bottom: 30px;
    font-weight: 500;
    margin: 0px;
    font-size: 40px;
    letter-spacing: 12px;
}

#cover > div h1, h5 {
    color: #bdbdbd;
}

@media (max-width: 768px) {
  #cover > div h1 {
    font-size: 30px;
    letter-spacing: 8px;
  }
}


/*
 * map container 
 */
.map-container {
   width: 100%;
   height: 100%;
   padding-left: 0px;
   padding-right: 0px; 
} 

#map {
    position: relative;
    height: 40vh;
    min-height: 300px;
    width: 100%;
}

/*
 * main text section 
 */
.text-center {
    text-align: center;
}

.about-section-center {
    width: 100%;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 90px;
    display: inline-block;
}

.about-section-center p{
    line-height: 30px;
    font-size: 16px;
}


/*
 * about column section
 */
.about-section-in-column {
    margin: 50px 10px;
}

.about-section-in-column h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #353535;
}

.about-section-in-column h3::after {
    content: " ";
    border: solid 1.5px #b2b2b2;
    display: block;
    width: 35px;
    margin: 25px auto;
}

.about-section-in-column > div p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #353535;
    font-size: 14px;
}

@media (max-width: 768px) {
    .about-section-in-column {
        margin: 20px 0px;
    }

    .about-section-in-column > div p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    .about-section-in-column > div p {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*
 * project section 
 */

.project-item p{
    line-height: 30px;
    font-size: 16px;
}

.project-item.drak {
    background-color: #50667f;
}

.project-item.drak p {
    color: #D8DBE2;
}

.project-item.drak a {
    color: #efefef;
}

.project-item.light {
    background-color: #ededed;
}


.project-item.top-offset {
    margin-top: 0px;
}

.project-info {
    text-align: center;
    margin: 100px 50px 50px;
}

.project-info h2 {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .browser-mockup {
        display: none;
    }

    .project-info { 
        margin: 50px 10px;
    }
}

@media (min-width: 1200px) {
    .project-info {
        padding: 0 30px;
    }
}

/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 */

.browser-mockup { 
  /*top: 30px;*/
  border-top: 2em solid rgba(200, 200, 200, 0.9);
  /*box-shadow: 0 0.1px 3px 0 rgba(0, 0, 0, 0.3);*/
  position: relative;
  border-radius: 10px 10px 10px 0;
}

.browser-mockup::before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #828282, 3em 0 0 2px #6b3;
}

.browser-mockup > * {
  display: block;
}

/*
*
*/
.portfolio-banner {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-image: url('../js/images/bc-work.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.portfolio-banner h1 {
    color: #efefef;
    margin: 10px auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;    
}

@media (min-width: 768px) {
    .portfolio-banner {
        display: none;
    }
}

/*
* parallax section
*/
.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../js/images/bc-work.jpg');
}

.parallax-container {
    /*max-width: 960px;*/
    margin: 0 auto;
    text-align: center;
    height: 600px;
    line-height: 600px;    
    background: rgba(12,12,12,0.7);
}

.parallax-container h1 {
    max-width: 600px;
    color: #efefef;
    margin: 10px auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;    
    font-size: 65px; 
}

@media (max-width: 768px) {
    .parallax {
        display: none;
    }
}

/*
* parallax section
*/

.footer {
    height: 300px;
    background-color: #00171F;
    position: relative;
}

.footer-content {
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoGithub:hover {
  background-color: #000000;
}
.social-network a.icoInstagram:hover {
  background-color:#3B5998;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoStackOverflow:hover {
  background-color:#E55934;
}
.social-network a.icoGithub:hover i, a.icoStackOverflow:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #939393;   
}

.social-media-icons {
  text-align:center;
  padding-bottom: 15px;
}

/*
* leaflet popup window
*/

.leaflet-popup-content {
  margin: 0;
  /*width: 300px !important;*/
}

.leaflet-container a.leaflet-popup-close-button {
    opacity: 0;
}

.leaflet-popup-content p {
  margin: 8px 0;
  padding-right: 5px;
  font-size: 110%;
}

.post-container {
    margin: 0;
    /*border: 5px solid #333;*/
    overflow: auto;
    min-width: 300px;
    width: 100%
}

.post-thumb {
    float: left
}

.post-thumb img {
    width: 90px;
    height: 90px;
    display: block
}

.post-content {
    margin-left: 100px;
    /*width: 100%;*/
}

